:root{
    --drawer-color: aqua;
    --text-primary: black;
    --text-secondary: orange;
    --transition-speed: 1s;
    --drawer-width: clamp(210px, 22vw, 325px);
    --transition-drawer: width 0.4s ease-in;
    --transition-notDrawer: margin-left 0.4s ease-in;

}




body{
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-areas: 
    "drawer nav-bar nav-bar nav-bar"
    "drawer main main main";
    grid-template-columns: 10rem 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 4fr;
}

.drawer{
    grid-area: drawer;
    background-color: var(--drawer-color);
    position: fixed;
    width: auto;
}



.dashboard{
    font-size: 30px;
}

.menuItem{
    color: var(--text-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    

}


.nav-bar{
    grid-area: nav-bar;
}
.top-bar{
    display: inline-block;

}
.bottom-bar{
    display: inline;
    
}

.main{
    grid-area: main;
}