:root{
    --drawer-color: rgb(0, 183, 255);
    --text-primary: black;
    --text-secondary: rgb(255, 255, 255);
    font-size: 16px;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-areas: 
    "drawer nav-bar nav-bar nav-bar"
    "drawer main main main";
    grid-template-columns: 17.5rem 1fr 1fr 1fr;
    grid-template-rows: 20rem;
}

div[class='menuItem']{
    margin-bottom: 5%;
}

.drawer{
    grid-area: drawer;
    background-color: var(--drawer-color);
    width: 15rem;
}

.drawer img{
    width: 30px;
    margin-right: 5%;
}

.drawer:hover{
    cursor: pointer;
}

.dashboard{
    font-size: 30px;
    margin-bottom: 25%;
    margin-top: 15%;
}

.commuities{
    margin-bottom: 20%;
}

.menuItem{
    color: var(--text-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
}

.nav-bar{
    grid-area: nav-bar;
    margin-top: 1%;
    border-bottom: 2px solid greenyellow;
    
}

.nav-bar button{
    background-color: var(--drawer-color);
    border-radius: 10px;
}
.top-bar input{
    border: 2px solid red;
    border-radius: 10px;
}
.top-bar{
    margin-right: 1%;
    display: inline-block;
    margin-bottom: 2%;
}

.bottom-bar{
    display: inline;
}

.main{
    margin-top: 2%;
    grid-area: main;
    display: grid;
    grid-template-areas:
    "projects announcements";
}

.projects h1{
    font-size: 20px;
    margin-bottom: 5%;
}

.announcements h1{
    font-size: 20px;
    margin-bottom: 5%;
}

.announcements{
    margin-left: 5%;
}

.box{
    border: 2px solid purple;
}